# Flask
SECRET_KEY=your-secret-key-here
FLASK_DEBUG=0

# Database
DB_PATH=backend/database.db

# Users
USERNAME_ADMIN=admin
USERNAME_USER1=user1
USERNAME_USER2=user2
PASSWORD_ADMIN=
PASSWORD_USER1=
PASSWORD_USER2=

# Geoapify
GEOAPIFY_API_KEY=

# DO spaces
SPACES_KEY=‹your-spaces‐access‐key›
SPACES_SECRET=‹your-spaces-secret›
SPACES_REGION=fra1
SPACES_BUCKET=tap2dance-dev