# Flask
SECRET_KEY=your-secret-key-here
FLASK_ENV=development

# Database
DB_PATH=backend/database.db

# Users
PASSWORD_ADMIN=mirna123
PASSWORD_USER1=ana123
PASSWORD_USER2=sara123

# Geoapify
GEOAPIFY_API_KEY=
